@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, Noto Sans JP, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background: #777777;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #ffcc21;
}
